.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(23, 23, 23);
  }
  100% {
    background-color: rgba(19, 19, 19, 0.708);
  }
}

.skeleton-img-div {
  max-width: 100%;
  border-radius: 10px;
  height: 300px;
}
