.pagination  {
    li {
      &:not(:first-child):not(:last-child) {
        width: 43px;
        text-align: center;
      }
      
      cursor: pointer;
    }
    
    ul {
      margin-bottom: 0px;
    }
  }