.admin-transaction {
  .search-container {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      rgb(227, 213, 255),
      rgb(255, 231, 231)
    );
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);

    .input {
      width: 200px;
      height: 40px;
      border: none;
      outline: none;
      caret-color: rgb(255, 81, 0);
      background-color: rgb(255, 255, 255);
      border-radius: 30px;
      padding-left: 15px;
      letter-spacing: 0.8px;
      color: rgb(19, 19, 19);
      font-size: 13.4px;
    }
  }

  tr {
    height: 50px;
  }

  .action-label {
    height: 50px;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
